body {
    font-family: sans-serif;
    margin:0;
    padding:0;
}

h1{
    text-align:center;
    background-color:black;
    color:yellow;
    font-size:50px;
}

h2{
    color:red;
}

header,nav{
    background-color:yellow;
}

a{
    color:black;
    text-decoration:none ;
}

footer{
    font-size:30px;
}
